.content__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 30px;
}

.content__list-header {

    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.content__list-content {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;
}

.content__list-img {
    width: 270px;
    height: 120px;
    flex-shrink: 0;
}

.team__item {
    border-radius: 0px 0px 4px 4px;
    background: #FFF;

    /* material shadow v1 */
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}

.team__img-1 {
    margin-left: 34px;
    margin-top: 16px;
    margin-bottom: 14px;
    fill: #afb1b8;
    width: 20px;
    height: 20px;
    margin-left: 6px;
    margin-top: 6px;
    transition: 0.3s ease-out;
    /* outline: 2px solid red; */
    cursor: pointer;
    box-sizing: content-box;
}

.team__img-2 {
    width: 44px;
    height: 34px;
    border-radius: 50px;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.team__img-2:hover {
    fill: #ffffff;
    background-color: #2196f3;
    transform: scale(1.2);

}


.team__img-1:hover {
    fill: #ffffff;
    background-color: #2196f3;
    transform: scale(1.2);
    border-radius: 50%;
}

.team__img-1:nth-child(1) {
    margin-left: 0px;
}

.client__title {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.client__images {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.client__img-1 {
    width: 106px;
    margin-top: -25px;
    fill: #757575;
}

.client__img-1:hover {
    fill: #2196F3;
    transition: 0.5s;
}

.image__info {
    display: flex;
    justify-content: space-between;
}

.content__info-img {
    width: 370px;
    height: 294px;
}

.image__text-text {
    position: relative;
    right: 0px;
    top: -70px;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.80);
    text-align: center;
    padding-bottom: 27px;
    padding-top: 27px;
}

.team {
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;

}

.team__header {
    text-align: center;
}

.team__list {
    display: flex;
    justify-content: space-between;
}

.team__item-img {
    width: 100%;
}

.box {
    position: relative;
    width: 370px;
    height: 294px;
    margin: 0 auto;
    background-color: #bdbdbd;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.90);

    transform: translatey(100%);
    transition: transform 250ms ease-in-out;
}

.box:hover .overlay {
    transform: translatey(0);
}

.overlay p {
    color: #fff;
    padding: 10px;
    margin: 0;
    font-size: 18px;
}

.overlay code {
    display: inline-block;
    padding: 2px 4px;
    border-radius: 2px;
    background-color: #fff;
    color: #2a2a2a;
}

.img__text {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-top: 20px;
}

.img__text {
    margin-bottom: 20px;
}

.image__border {
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    margin-top: 20px;
    margin: 0 auto;
    padding-left: 32px;
    padding-top: -50px;
}

.image__border:hover {
    border-radius: 4px;
    border: 1px solid #2196F3;
    transition: 0.5;
}

.rotate-diagonal-1:hover {
	animation: rotate-diagonal-1 0.4s linear both;
}